
/* Initialization */
*
{
    margin: 0;
    padding: 0;
}
/* Fonts */
@import url("http://fonts.googleapis.com/css?family=Open+Sans") ;
@import url("http://fonts.googleapis.com/css?family=Scope+One") ;

.font-1
{
    font-size: 1rem;
}
.font-2
{
    font-size: 2rem;
}
.font-3
{
    font-size: 3rem;
}

.font-4
{
    font-size: 4rem;
}
/* Bootstrap */
.table .thead-butter th {
  color: #fff;
  background-color: #DE9440;
  border-color: white;
}
.table .tbody-butter td
{
    border-color: #DE9440;
}


.border
{
  border: 1px solid #C45525 !important;
}



.bg-light
{
    /*background: #DE9440 !important;*/
    background: -webkit-linear-gradient(bottom, #DE9440, #C45525);
}

.nav-item
{
    padding-left: 50px;
}

.row
{
    text-align: center;
}


/* Personnal styles */
#page-container
{
  position: relative;
  min-height: 100vh;
}

#content-wrap
{
  padding-bottom: 2.5rem;    /* Footer height */
}

.justify-sentences
{
    text-align: justify;
    /*text-justify: inter-word;*/
}

h3
{
    font-family: "Open Sans", sans-serif !important;
}
body
{
    font-family: "Scope One", sans-serif !important;
}

#brain
{
    background-color : #DE9440;
}

#brain-components
{
    font-size: 1.1em;
    /*float: right;*/
}

#brain-components li
{
    display: inline-block;
    list-style: none
}

#search-area
{
    color : #DE9440;
    height: 80%;
}
#story-area
{
    background-color : white;
    color : #C45525;
}
#contactus-area
{
    background-color : white;
    color : #C45525;
    height: 50%;
}
#account-area
{
    color : white;
}

#searched-aliment-area
{
    color: white;
}
#footer
{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
#feet
{
    text-align: center;
    content: "";
    display: block;
    background: -webkit-linear-gradient(top, #DE9440, #C45525);
}


/* registration */
.note
{
    text-align: center;
    height: 80px;
    background: #DE9440;
    /*background: -webkit-linear-gradient(top, #DE9440, #C45525);*/
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #C45525;
    color: #fff;
}


/* Sign in */

:root
{
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}


.card-signin
{
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 #DE9440;
}

.card-signin .card-title
{
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body
{
  padding: 2rem;
}

.form-signin
{
  width: 100%;
}

.form-signin .btn
{
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group
{
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input
{
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label
{
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  /*color: #495057;*/
  color: #C45525;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder
{
  color: transparent;
}

.form-label-group input:-ms-input-placeholder
{
  color: transparent;
}

.form-label-group input::-ms-input-placeholder
{
  color: transparent;
}

.form-label-group input::-moz-placeholder
{
  color: transparent;
}

.form-label-group input::placeholder
{
  color: transparent;
}

.form-label-group input:not(:placeholder-shown)
{
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label
{
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  /*color: #777;*/
  color: #C45525;
}

.btn-connect
{
    color: white;
}

.btn-create-account
{
  color: white;
  background-color: #C45525;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto)
{
  .form-label-group>label
  {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder
  {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active)
{
  .form-label-group>label
  {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder
  {
    color: #777;
  }
}

/* Results */
.result-img
{
    width : 10%;
}

.results-box
{
    /*display : block;
    float : left;
    align : center;
    align-items : center;*/
    align-items : auto;
}


/* Colors */

.bg-butter
{
    background-color: #DE9440;
}

.bg-chocolate
{
    background-color: #C45525;
}

.white-text
{
    color: white;
}
.black-text
{
    color: black;
}

.blue-text
{
    color: #345A61;
}

.chocolate-text
{
    color: #C45525;
}

.alert-text
{
    color: white;
    text-shadow: -1px 0 red, 0 1px red,
      1px 0 red, 0 -1px red;
}
.butter-text
{
    color: #DE9440;
    text-shadow: -1px 0 white, 0 2px black,
      1px 0 #C45525, 0 -1px #C45525;
}
.chocolate-shadow-text
{
    color: #C45525;
    text-shadow: -1px 0 #DE9440, 0 2px #DE9440,
      1px 0 #C45525, 0 -1px #DE9440;
}
.white-butter-text
{
    color: white;
    text-shadow: 2px 1px black, -2px -1px #DE9440
}
.bold-text
{
    font-weight: bolder;
}

.underline-text
{
    text-decoration: underline;
}

.nutriscore_tag
{
	position: relative;
	height: 80px;
	width: 80px;
	top: -20px;
	left: 90%;
	border-radius: 50%;
	background: #86EBE6;
	padding: 5%;
	text-align: center;
}

.nutriscore_flag
{
  background:#bfd70e;
  border-radius:50%;
  width:10px;
  height:10px;
  border:2px solid #679403;
  padding: 5%;
  text-align: center;
}

.historic-table
{
    border-collapse: collapse;
    min-width: 400px;
    width: auto;
    box-shadow: 0 5px 50px #345A61;
    margin: 100px auto;
    border: 2px solid #345A61;
}
.btn-butter
{
  color: white;
  background-color: #DE9440;
  border-color: white;
}
#home-searchbar
{
  color: #DE9440;
  border: 2px solid #DE9440;
}
.text-align-center
{
    text-align: center;
}
.vertical-align-middle
{
    vertical-align: middle;
}
#content-carott
{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.box-carott
{
    height: 100%;
}
.historic-container
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.account-container
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-container
{
    display: flex;
    align-items: center;
    justify-content: center;
}
