{% extends 'substitute/base.html'%}
{% block heart %}
{% load static %}
<style type="text/css">
    #account-area
    {
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('{% static "substitute/jpg/remy-3.jpg" %}');
        background-size: cover;
        background-position: center;
    }
</style>
<div class="container-fuid" id="account-area">
    <div class="row">
        <div class="col-12" id="account-username">
            <div class="col-12"> <br/></div>
            <h2>{{ salutation }}</h2>
            <div class="col-12"> <br/></div>
            <h3>{{ user }}</h3>
            <div class="col-12"> <br/></div>
        </div>
    </div>
</div>
<div class="container-fuid">
    <div class="row">
        <div class="col-12 h2 d-flex justify-content-center" id="account-usermail">
            <div class="col-12"> <br/></div>
            <h3>{{ mail }}</h3>
            <div class="col-12"> <br/></div>
        </div>
    </div>
</div>
{% endblock %}