{% extends 'substitute/base.html'%}
{% block heart %}
{% load static %}
<style type="text/css">
    #aliment-area
    {
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('{% static "substitute/jpg/photo_aliments.jpg" %}');
        background-size: cover;
        background-position: center;

    }
</style>
<div class="container-fuid" id="aliment-area">
    <div class="row">
        <div class="col-12"><br/></div>
        <div class="col-12 h1">[Nom Aliment]</div>
        <div class="col-12 h2">{{ <div class="col-sm-4 col-12 h2 border offset-box-results"><img src="{{ info.selected_images.ingredients.display.fr }}"><a class="chocolate-text " style="text-decoration:none" href="{% url 'substitute:aliment' %}"></a></div> }}</div>
        <div class="col-sm-4 col-12 h2 border offset-box-results"><img src="{{ info.selected_images.nutrition.display.fr }}"><a class="chocolate-text " style="text-decoration:none" href="{% url 'substitute:aliment' %}"></a></div>
        <div class="col-12"><br/></div>
    </div>
</div>
<div class="container-fuid">
    <div class="row">
        <div class="col-12"> <br/></div>
        <div class="col-6 d-flex justify-content-center h3">Nutriscore abCde</div>
        <div class="col-6 d-flex justify-content-center h3">Repères nutritionnels pour 100g</div>
        <div class="col-12"> <br/></div>
        <form class="col-12 d-flex justify-content-center">
            <a href="{{ opfofa }}" class="col-3 btn btn-lg btn-create-account btn-block text-uppercase "> Voir les fiches d'OpenFoodFacts !</a>
        </form>
        <div class="col-12"> <br/></div>
    </div>
</div>
{% endblock %}