{% extends 'substitute/base.html'%}
{% block heart %}
{% load static %}
<style type="text/css">
    #aliment-area
    {
        background: url('{{ aliment.url_image}}');
        background-position: center;
    }
</style>
<div class="container-fluid" id="aliment-area">
    <div class="row">
        <div class="col-12"><br/></div>
        <div class="col-12 h1 d-flex justify-content-center" >
            <a href="{{ opfofa }}" class="col-3 btn btn-lg btn-create-account btn-block text-uppercase bg-butter "> {{ aliment.name }}</a>
        </div>

        <div class="col-12"><br/></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12"> <br/></div>
                <div class="col-12 h2">
                    <img src="{{ aliment.url_image}}">
                    <a class="chocolate-text " style="text-decoration:none" href="{% url 'substitute:aliment' aliment.id %}"></a>
                </div>
        <div class="col-12 h2 d-flex justify-content-center chocolate-text">Marque : {{ aliment.brand|upper }}</div>
        <div class="col-12 h2 d-flex justify-content-center chocolate-text">Produit : {{ aliment.name }}</div>
        <div class="col-12 h2 d-flex justify-content-center chocolate-text">Magasin(s) : {{ aliment.store }}</div>
        <div class="col-12 h2 d-flex justify-content-center chocolate-text">Lieu(x) de vente : {{ aliment.purchase_places }}</div>
        <div class="col-12 h2 d-flex justify-content-center chocolate-text"> </div>
        <div class="col-12 h2 d-flex justify-content-center chocolate-text"> </div>
        <div class="col-12 h2 d-flex justify-content-center chocolate-text"> </div>
        <div class="col-12 h2 d-flex justify-content-center chocolate-text"> </div>
        <div class="col-6 d-flex justify-content-center underline-text h3">Nutriscore abCde</div>
        <div class="col-6 d-flex justify-content-center underline-text h3">Repères nutritionnels pour 100g</div>
        <div class="col-6 d-flex justify-content-center  h3" style="align-items:center">
        <div class="col-6 d-flex justify-content-center  h3" style="align-items:center">
            {% if aliment.nutriscore == "a" %}
            <img src="{% static 'substitute/png/a_nutriscore_good.png' %}" alt="Photo de Colette"></div>
            {% elif aliment.nutriscore == "b" %}
            <img src="{% static 'substitute/png/b_nutriscore_good.png' %}" alt="Photo de Colette"></div>
            {% elif aliment.nutriscore == "c" %}
            <img src="{% static 'substitute/png/c_nutriscore_good.png' %}" alt="Photo de Colette"></div>
            {% elif aliment.nutriscore == "d" %}
            <img src="{% static 'substitute/png/d_nutriscore_good.png' %}" alt="Photo de Colette"></div>
            {% elif aliment.nutriscore == "e" %}
            <img src="{% static 'substitute/png/e_nutriscore_good.png' %}" alt="Photo de Colette"></div>
            {% endif %}
            <!--<div class="col-1 font-3 font-weight-bold text-uppercase  "> {{ aliment.nutriscore }}</div>-->
        </div>
        <div class="col-6 d-flex justify-content-center h3">
            <div class="col-12"><img src="{{ aliment.image_nutriments }}"></div>
        </div>
        <div class="col-6 d-flex justify-content-center h3"></div>
        <div class="col-6 d-flex justify-content-center underline-text h3">Energie</div>
        <div class="col-6 d-flex justify-content-center h3"></div>
        <div class="col-6 d-flex justify-content-center h3">{{ aliment.energy_kj }} {{ aliment.energy_kj_unit }} <br/>{{ aliment.energy_kcal }} {{ aliment.energy_kcal_unit }}</div>
        <div class="col-12"> <br/></div>
        <div class="col-12 h3">
            <form method="POST">
                {% csrf_token %}
                <a href="#">
                    <input type="image" name="store_it" height="200" width="200" alt="Boutton - disquette"  src="{% static 'substitute/png/blue_save.png' %}"/>
                    <div class="col-12 h3">Sauvegarder</div>
                </a>
            </form>
        </div>
        <form class="col-12 d-flex justify-content-center">
            <a href="{{ aliment.url }}" class="col-3 btn btn-lg btn-create-account btn-block text-uppercase "> Voir les fiches d'OpenFoodFacts !</a>
        </form>
        <div class="col-12"> <br/></div>
    </div>
</div>
{% endblock %}