{% extends 'substitute/base.html'%}
{% block heart %}
{% load static %}
<style type="text/css">
    #aliment-area
    {
        background: url('{{ substitut.url_image}}');
        background-position: center;
    }
</style>
<div class="container-fluid" id="aliment-area">
    <div class="row">
        <div class="col-12"><br/></div>
        <div class="col-12 h1 d-flex justify-content-center" >
            <a href="{{ substitut.url }}" class="col-3 btn btn-lg btn-create-account btn-block text-uppercase bg-butter "> {{ substitut.name }}</a>
        </div>
        <div class="col-12"><br/></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12"> <br/></div>
                <div class="col-12 h2">
                    <img src="{{ substitut.url_image}}">
                    <a class="chocolate-text " style="text-decoration:none" href="{% url 'substitute:aliment' s_id=substitut.id p_id=produit.id u_id=utilisateur_id  %}"></a>
                </div>
        <div class="col-12 h2 d-flex justify-content-center chocolate-text">Marque : {{ substitut.brand|upper }}</div>
        <div class="col-12 h2 d-flex justify-content-center chocolate-text">Produit : {{ substitut.name }}</div>
        <div class="col-12 h2 d-flex justify-content-center chocolate-text">Magasin(s) : {{ substitut.store }}</div>
        <div class="col-12 h2 d-flex justify-content-center chocolate-text">Lieu(x) de vente : {{ substitut.purchase_places }}</div>
        <div class="col-12 h2 d-flex justify-content-center chocolate-text"> </div>
        <div class="col-12 h2 d-flex justify-content-center chocolate-text"> </div>
        <div class="col-12 h2 d-flex justify-content-center chocolate-text"> </div>
        <div class="col-12 h2 d-flex justify-content-center chocolate-text"> </div>
        <div class="col-6 d-flex justify-content-center underline-text h3">Nutriscore abCde</div>
        <div class="col-6 d-flex justify-content-center underline-text h3">Repères nutritionnels pour 100g</div>
        <div class="col-6 d-flex justify-content-center  h3" style="align-items:center">
            <div class="col-6 d-flex justify-content-center  h3" style="align-items:center">
                {% if substitut.nutriscore == "a" %}
                <img src="{% static 'substitute/png/a_nutriscore_good.png' %}" alt="Photo de Colette"></div>
                {% elif substitut.nutriscore == "b" %}
                <img src="{% static 'substitute/png/b_nutriscore_good.png' %}" alt="Photo de Colette"></div>
                {% elif substitut.nutriscore == "c" %}
                <img src="{% static 'substitute/png/c_nutriscore_good.png' %}" alt="Photo de Colette"></div>
                {% elif substitut.nutriscore == "d" %}
                <img src="{% static 'substitute/png/d_nutriscore_good.png' %}" alt="Photo de Colette"></div>
                {% elif substitut.nutriscore == "e" %}
                <img src="{% static 'substitute/png/e_nutriscore_good.png' %}" alt="Photo de Colette"></div>
                {% endif %}
            </div>
            <div class="col-6 d-flex justify-content-center h3">
                <div class="col-12"><img src="{{ substitut.image_nutriments }}"></div>
            </div>
            <div class="col-6 d-flex justify-content-center h3"></div>
            <div class="col-6 d-flex justify-content-center underline-text h3">Energie</div>
            <div class="col-6 d-flex justify-content-center h3"></div>
            <div class="col-6 d-flex justify-content-center h3">{{ substitut.energy_kj }} {{ substitut.energy_kj_unit }} <br/>{{ substitut.energy_kcal }} {{ substitut.energy_kcal_unit }}</div>
            <div class="col-12"> <br/></div>
            <div class="col-12 h3">
                <form method="POST">
                    {% csrf_token %}
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'substitute:save' p_id=produit.id s_id=substitut.id u_id=utilisateur_id %}">
                        <img src="{% static 'substitute/png/blue_save.png' %}" height="200" width="200" alt="Disquette - sauvegarde">
                        <div class="col-12 h3">Sauvegarder</div>
                    </a>
                    {% else %}
                    <a href="{% url 'substitute:login' %}">
                        <img src="{% static 'substitute/png/blue_save.png' %}" height="200" width="200" alt="Disquette - sauvegarde">
                        <div class="col-12 h3">Sauvegarder</div>
                    </a>
                    {% endif %}
                </form>
            </div>
            <form class="col-12 d-flex justify-content-center">
                <a href="{{ substitut.url }}" class="col-3 btn btn-lg btn-create-account btn-block text-uppercase "> Voir les fiches d'OpenFoodFacts !</a>
            </form>
            <div class="col-12"> <br/></div>
    </div>
</div>
{% endblock %}