{% load static %}
<header>
    <nav id="brain">
            <div id="identity">
                    <h3><img src="{% static 'substitute/png/logo_pb.png' %}" alt="logo de Pure Beurre"></h3>
            </div>
            <div id="header-sitename"><h3>[Pure Beurre]</h3></div>
            <ul id="brain-components">
                <li id="header-searchbar"><h3>[Barre de recherche]</h3></li>
                <li id="header-logoaccount"><h3>[logo espace personel]</h3></li>
                <li id="header-logocarott"><h3>[logo carotte]</h3></li>
                <li id="header-logologout"><h3>[Déconnexion]</h3></li>
            </ul>
    </nav>
</header>