{% extends 'substitute/base.html'%}
{% block heart %}
{% load static %}

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            <h5 class="card-title text-center font-weight-bold">CONNEXION</h5>
            <form  method="POST" class="form-signin">
              {% csrf_token %}
              <div class="form-label-group">
                <input type="text" name="username" id="inputName" class="form-control" placeholder="Username" required autofocus>
                <label for="inputName">Nom d'utilisateur</label>
              </div>

              <!--<div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputEmail">Adresse électronique</label>
              </div>-->

              <div class="form-label-group">
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <label for="inputPassword">Mot de passe</label>
              </div>

              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <!--<label class="custom-control-label" for="customCheck1">Remember password</label>-->
              </div>
              <button class="btn btn-lg btn-block btn-connect bg-butter text-uppercase connect-user" type="submit">Se connecter</button>
              <hr class="my-4">
              <div>Vous n'avez pas encore de compte ?</div>
              <a href="{% url 'substitute:register' %}" class="btn btn-lg btn-create-account btn-block text-uppercase"> Créer mon compte</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

{% endblock %}